<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/>">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="satellite_api.Processors.RegisterApiRoutes, satellite-api" />
      </initialize>
      <owin.cookieAuthentication.applyRedirect>
        <processor
          type="satellite_api.Processors.SkipLayoutServiceRequest, satellite-api"
          patch:before="*[@type='Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ApplyRedirect.SkipAjaxRequest, Sitecore.Owin.Authentication']"
          resolve="true" />
      </owin.cookieAuthentication.applyRedirect>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="satellite_api.Processors.LayoutServiceProcessor, satellite-api" patch:before="*[@type='Sitecore.JavaScriptServices.Tracker.Pipelines.GetLayoutServiceContext.VisitorIdentificationContext, Sitecore.JavaScriptServices.Tracker']" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>