<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/>">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="satellite_api.Processors.RegisterApiRoutes, satellite-api" />
      </initialize>
      <httpRequestBegin>
        <!--<processor type="satellite_api.Processors.HttpReqProcessor, satellite-api" patch:after="*[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" />
        <processor type="satellite_api.Processors.HttpReqProcessor, satellite-api" patch:before="*[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" />
        <processor type="satellite_api.Processors.HttpReqProcessor, satellite-api" patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />-->
        <processor type="satellite_api.Processors.HttpReqProcessor, satellite-api" patch:before="*[@type='Sitecore.Mvc.Pipelines.HttpRequest.TransferRoutedRequest, Sitecore.Mvc']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>